{
	"presets": [
		"es2015",
		"stage-0"
	],
	"plugins": [
		[
			"babel-root-import", {
				"rootPathSuffix": "src/js"
			}
		]
	],
	"env": {
		"test": {
			"plugins": [
				[
					"babel-plugin-module-alias", [
						{ "src": "./test", "expose": "test" }
					]
				]
			]
		}
	}
}
